body {
background-image: url('galaxy.png');
}
p {
    color:#cc2c81;
}

/* The Modal (background) */
.parent {
position: relative;
background-color: lightgrey;
width: 300px;
padding: 50px;
margin: 20px;
margin-left: auto;
margin-right: auto;
bottom:0;
}

.child {
position: absolute;
margin-left: auto;
margin-right: auto;
top:0;
right:0;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content -> transparent box */
.modal-content {
    margin: auto;
    padding: 20px;
    width: 80%;
}

.modal-box {
position: absolute;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
z-index: 5;
display: none
}

/* The Close Button */
.close {
color: #aaaaaa;
float:right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

/*for hover effect!*/
.linnea-img {
width: 90px;
height: auto;
position: relative;
display: inline-block;
margin: 30px;
}

.linnea-img .img-top {
display: none;
position: absolute;
top: 0;
left: 0;
z-index: 99;
}

.linnea-img:hover .img-top {
display: inline;
}

/*css to center the d3 svg no matter what screen*/
svg {
display: block;
margin: auto;
border: 1px solid gray;
}

.button {
background-color: #b279b5; /* Green */
color: white;
padding: 10px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 10px;
border-radius: 100px;
}
  

#sun_name{
    position:absolute;
    top:55vh;
    left:51.25vw;
}
#sun{
    width:60px;
    height:60px;
    position:absolute;
    top:48vh;
    left:50vw;
}

/* Want to make planets rotate around central sun */
.p1{
    width:10px;
    height:10px;
    border-radius:50%;
    position:absolute;
    overflow:hidden;
    top:50vh;
    left:50vw;
    margin:auto;
    animation: p1 3s linear infinite;
  }
  
  @keyframes p1{
    0%{
      transform:rotate(0deg)
                translate(-5vw)
                rotate(0deg);
    }
      100%{
        transform:rotate(360deg)
                  translate(-5vw)
                  rotate(360deg);
      }
}
#pl_name{
    position:absolute;
    top:50vh;
    left:50vw;
    animation: pl_name 3s linear infinite;
}

@keyframes pl_name{
    0%{
      transform:rotate(0deg)
                translate(-5vw)
                rotate(0deg);
    }
      100%{
        transform:rotate(360deg)
                  translate(-5vw)
                  rotate(0deg);
      }
}
/* Want to make planets rotate around central sun */
.p2{
    width:20px;
    height:20px;
    border-radius:50%;
    position:absolute;
    overflow:hidden;
    top:50vh;
    left:50vw;
    margin:auto;
    animation: p2 6s linear infinite;
  }
  
  @keyframes p2{
    0%{
      transform:rotate(0deg)
                translate(15vw)
                rotate(0deg);
    }
    100%{
      transform:rotate(360deg)
                translate(15vw)
                rotate(180deg);
    }
}

#p2_name{
    position:absolute;
    top:50vh;
    left:52vw;
    animation: p2_name 6s linear infinite;
}

@keyframes p2_name{
    0%{
      transform:rotate(0deg)
                translate(15vw)
                rotate(0deg);
    }
      100%{
        transform:rotate(360deg)
                  translate(15vw)
                  rotate(0deg);
      }
}
/* Want to make planets rotate around central sun */
.p3{
    width:26px;
    height:26px;
    border-radius:50%;
    position:absolute;
    overflow:hidden;
    top:50vh;
    left:50vw;
    margin:auto;
    animation: p3 12s linear infinite;
  }
  
  @keyframes p3{
    0%{
      transform:rotate(0deg)
                translate(-25vw)
                rotate(0deg);
  
    
    }
    100%{
      transform:rotate(360deg)
                translate(-25vw)
                rotate(90deg);
    }
}
#p3_name{
    position:absolute;
    top:50vh;
    left:52vw;
    animation: p3_name 12s linear infinite;
}

@keyframes p3_name{
    0%{
      transform:rotate(0deg)
                translate(-25vw)
                rotate(0deg);
    }
      100%{
        transform:rotate(360deg)
                  translate(-25vw)
                  rotate(0deg);
      }
}
/* Want to make planets rotate around central sun */
.p4{
    width:30px;
    height:30px;
    border-radius:50%;
    position:absolute;
    overflow:hidden;
    top:50vh;
    left:50vw;
    margin:auto;
    animation: p4 24s linear infinite;
  }
  
  @keyframes p4{
    0%{
      transform:rotate(0deg)
                translate(34vw)
                rotate(0deg);
  
    
    }
    100%{
      transform:rotate(360deg)
                translate(34vw)
                rotate(480deg);
    }
}
#p4_name{
    position:absolute;
    top:50vh;
    left:52vw;
    animation: p4_name 24s linear infinite;
}

@keyframes p4_name{
    0%{
      transform:rotate(0deg)
                translate(34vw)
                rotate(0deg);
    }
      100%{
        transform:rotate(360deg)
                  translate(34vw)
                  rotate(0deg);
      }
}
#galaxy-lines-low{
    position:absolute;
    /* width:520px; */
    /* height:500px; */
    width:25vw;
    height:50vh;
    top:28vh;
    left:40vw;
}

#galaxy-lines-low-highcarbon{
    position:absolute;
    /* width:520px; */
    /* height:500px; */
    width:30vw;
    height:60vh;
    top:22.5vh;
    left:37vw;
}

#galaxy-lines-low-lowcarbon{
    position:absolute;
    /* width:520px; */
    /* height:500px; */
    width:15vw;
    height:30vh;
    top:37vh;
    left:44.5vw;
}

#galaxy-lines-high{
    position:absolute;
    /* width:520px; */
    /* height:500px; */
    width:38vw;
    height:80vh;
    top:12vh;
    left:33vw;
}

#galaxy-lines-high-lowcarbon{
    position:absolute;
    /* width:520px; */
    /* height:500px; */
    width:25vw;
    height:50vh;
    top:28vh;
    left:40vw;
}

#galaxy-lines-high-highcarbon{
    position:absolute;
    /* width:520px; */
    /* height:500px; */
    width:48vw;
    height:100vh;
    top:5vh;
    left:28vw;
}
