#sun{
    width:60px;
    height:60px;
    position:absolute;
    top:48vh;
    left:50vw;
}

/* Want to make planets rotate around central sun */
.p1{
    width:10px;
    height:10px;
    border-radius:50%;
    position:absolute;
    overflow:hidden;
    top:50vh;
    left:50vw;
    margin:auto;
    animation: p1 6s linear infinite;
  }
  
  @keyframes p1{
    0%{
      transform:rotate(0deg)
                translate(-10vw)
                rotate(0deg);
  
    
    }
    100%{
      transform:rotate(360deg)
                translate(-10vw)
                rotate(360deg);
    }
}

/* Want to make planets rotate around central sun */
.p2{
    width:33px;
    height:33px;
    border-radius:50%;
    position:absolute;
    overflow:hidden;
    top:50vh;
    left:50vw;
    margin:auto;
    animation: p2 6s linear infinite;
  }
  
  @keyframes p2{
    0%{
      transform:rotate(0deg)
                translate(20vw)
                rotate(0deg);
  
    
    }
    100%{
      transform:rotate(360deg)
                translate(20vw)
                rotate(180deg);
    }
}

/* Want to make planets rotate around central sun */
.p3{
    width:20px;
    height:20px;
    border-radius:50%;
    position:absolute;
    overflow:hidden;
    top:50vh;
    left:50vw;
    margin:auto;
    animation: p3 6s linear infinite;
  }
  
  @keyframes p3{
    0%{
      transform:rotate(0deg)
                translate(-20vh)
                rotate(0deg);
  
    
    }
    100%{
      transform:rotate(360deg)
                translate(-20vh)
                rotate(90deg);
    }
}

/* Want to make planets rotate around central sun */
.p4{
    width:30px;
    height:30px;
    border-radius:50%;
    position:absolute;
    overflow:hidden;
    top:50vh;
    left:50vw;
    margin:auto;
    animation: p4 6s linear infinite;
  }
  
  @keyframes p4{
    0%{
      transform:rotate(0deg)
                translate(-34vw)
                rotate(0deg);
  
    
    }
    100%{
      transform:rotate(360deg)
                translate(-34vw)
                rotate(480deg);
    }
}

#galaxy-lines{
    position:absolute;
    /* width:520px; */
    /* height:500px; */
    width:25vw;
    height:50vh;
    top:28vh;
    left:40vw;
}
/* For high lum */
#galaxy-lines-2{
  position:absolute;
    width:40vw;
    height:75vh;
    top:15vh;
    left:33vw; 
}