img{
    width:20px;
    height:20px;
}

#sun{
    width:60px;
    height:60px;
    position:absolute;
    top:48vh;
    left:50vw;
}

/* Want to make planets rotate around central sun */
.p1{
    width:10px;
    height:10px;
    border-radius:50%;
    position:absolute;
    overflow:hidden;
    top:50vh;
    left:50vw;
    margin:auto;
    animation: p1 6s linear infinite;
  }
  
  @keyframes p1{
    0%{
      transform:rotate(0deg)
                translate(10vw)
                rotate(0deg);
  
    
    }
    100%{
      transform:rotate(360deg)
                translate(10vw)
                rotate(360deg);
    }
}

/* Want to make planets rotate around central sun */
.p2{
    width:10px;
    height:10px;
    border-radius:50%;
    position:absolute;
    overflow:hidden;
    top:50vh;
    left:50vw;
    margin:auto;
    animation: p2 6s linear infinite;
  }
  
  @keyframes p2{
    0%{
      transform:rotate(0deg)
                translate(15vw)
                rotate(0deg);
  
    
    }
    100%{
      transform:rotate(360deg)
                translate(15vw)
                rotate(360deg);
    }
}

/* Want to make planets rotate around central sun */
.p3{
    width:10px;
    height:10px;
    border-radius:50%;
    position:absolute;
    overflow:hidden;
    top:50vh;
    left:50vw;
    margin:auto;
    animation: p3 6s linear infinite;
  }
  
  @keyframes p3{
    0%{
      transform:rotate(0deg)
                translate(20vw)
                rotate(0deg);
  
    
    }
    100%{
      transform:rotate(360deg)
                translate(20vw)
                rotate(360deg);
    }
}

/* Want to make planets rotate around central sun */
.p4{
    width:30px;
    height:30px;
    border-radius:50%;
    position:absolute;
    overflow:hidden;
    top:50vh;
    left:50vw;
    margin:auto;
    animation: p4 6s linear infinite;
  }
  
  @keyframes p4{
    0%{
      transform:rotate(0deg)
                translate(40vw)
                rotate(0deg);
  
    
    }
    100%{
      transform:rotate(360deg)
                translate(40vw)
                rotate(360deg);
    }
}
