#sun{
    width:60px;
    height:60px;
    position:absolute;
    top:48vh;
    left:50vw;
}

/* Want to make planets rotate around central sun */
.p1{
    width:10px;
    height:10px;
    border-radius:50%;
    position:absolute;
    overflow:hidden;
    top:50vh;
    left:50vw;
    margin:auto;
    animation: p1 3s linear infinite;
  }
  
  @keyframes p1{
    0%{
      transform:rotate(0deg)
                translate(-5vw)
                rotate(0deg);
    }
      100%{
        transform:rotate(360deg)
                  translate(-5vw)
                  rotate(360deg);
      }
}

/* Want to make planets rotate around central sun */
.p2{
    width:20px;
    height:20px;
    border-radius:50%;
    position:absolute;
    overflow:hidden;
    top:50vh;
    left:50vw;
    margin:auto;
    animation: p2 6s linear infinite;
  }
  
  @keyframes p2{
    0%{
      transform:rotate(0deg)
                translate(15vw)
                rotate(0deg);
    }
    100%{
      transform:rotate(360deg)
                translate(15vw)
                rotate(180deg);
    }
}

/* Want to make planets rotate around central sun */
.p3{
    width:26px;
    height:26px;
    border-radius:50%;
    position:absolute;
    overflow:hidden;
    top:50vh;
    left:50vw;
    margin:auto;
    animation: p3 12s linear infinite;
  }
  
  @keyframes p3{
    0%{
      transform:rotate(0deg)
                translate(-25vw)
                rotate(0deg);
  
    
    }
    100%{
      transform:rotate(360deg)
                translate(-25vw)
                rotate(90deg);
    }
}

/* Want to make planets rotate around central sun */
.p4{
    width:30px;
    height:30px;
    border-radius:50%;
    position:absolute;
    overflow:hidden;
    top:50vh;
    left:50vw;
    margin:auto;
    animation: p4 24s linear infinite;
  }
  
  @keyframes p4{
    0%{
      transform:rotate(0deg)
                translate(34vw)
                rotate(0deg);
  
    
    }
    100%{
      transform:rotate(360deg)
                translate(34vw)
                rotate(480deg);
    }
}

#galaxy-lines{
    position:absolute;
    /* width:520px; */
    /* height:500px; */
    width:25vw;
    height:50vh;
    top:28vh;
    left:40vw;
}

#galaxy-lines-2{
    position:absolute;
    /* width:520px; */
    /* height:500px; */
    width:35vw;
    height:70vh;
    top:28vh;
    left:40vw;
}